{
  "singleQuote": true,
  "semi": false,
  "tabWidth": 2,
  "trailingComma": "all",
  "importOrder": [
    "<THIRD_PARTY_MODULES>",
    "^vue$",
    "^pinia$",
    "^@?quasar$",
    "^boot(.*)$",
    "^app(.*)$",
    "^assets(.*)$",
    "^layouts(.*)$",
    "^pages(.*)$",
    "^stores(.*)$",
    "^components(.*)$",
    "^src(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
